<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\watch.db; Version=3" providerName="System.Data.SqlClient"/>
		<!-- Tried many different conn strings, fe with relative/non-relative path, different paths, with/-out Version, with/-out providerName-->
	</connectionStrings>
</configuration>